[Desktop Entry]
Encoding=UTF-8
Name=Ebakus
Comment=Ebakus P2P Cryptocurrency
Comment[fr]=Ebakus, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ebakus, eşten eşe kriptografik sanal para birimi
Exec=dash-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/dash;
Categories=Office;Finance;
