[Unit]
Description=Ebakus's distributed currency daemon
After=network.target

[Service]
User=ebakuscore
Group=ebakuscore

Type=forking
PIDFile=/var/lib/ebakusd/ebakusd.pid
ExecStart=/usr/bin/ebakusd -daemon -pid=/var/lib/ebakusd/ebakusd.pid \
-conf=/etc/ebakuscore/ebakus.conf -datadir=/var/lib/ebakusd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
